body{
  background-color:#4796ED;
  margin:0;
}

header{
  background-color:#22C93D;
  color:white;
  text-align:center;
  padding:30px;
  font-size:28px;
  height:60px;
}

nav{
  background-color:#1FFEB3;
  float:left;
  width:150px;
  height:350px;
}

nav a{
  display:block;
  text-decoration:none;
  color:black;
  padding:15px;
  font-size:20px;
}

nav a:hover{
  background-color:#04D8AE;
}

main{
  background-color:#F7F210;
  margin-left:150px;
  height:350px;
  padding:20px;
}

footer{
  background:black;
  color:white;
  text-align:center;
  padding:15px;
  clear:both;
}
