<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Two columns</title>
  <style>
  body{
    background: #14E8B7;
  }
  .wrapper{
   background: white#0DD94A;
   padding: 20px 15px;
   border: solid 5px black ;
  }
  header{
  background-color: #20D596;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  }
  nav{
    background: #19EC10;
    padding: 5px;
    float:left;
    width: 120px;
    min-height: 235px;
  }
  nav a{
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  &:hover{
    background: #04D8AE;
    color: black;
  }
  }
  main{
    background: #059EFF;
    color: white;
    margin-left: 10px;
    padding: 10px;
  }
  footer{
    background: black;
    color: whitesmoke;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
  </style>
</head>

<body>
<div class="wrapper">
  <header>
    Barashada get.hub into css and html
  </header>
  <nav>
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Blog</a>
    <a href="">News</a>
  </nav>
  <main>
    <h1>Welcome To learning Web Design</h1>
    <p>what's get.hub </p>
    <p>how to learning get.hub</p>
    <p>learning to GitHub into html and css</p>
  </main>
</div>
<div class="">
  <div>
    <h2>welcome to get.hub aplication</h2>
  </div>
  
</div>
<footer>
  Copyright &copy en.mohamed abuukar
</footer>
</body>

</html>
